<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  	<handlers>
		<add name="PHPinHTML" path="*.html" verb="*" modules="FastCgiModule"
		scriptProcessor="C:\Services\PHP\php-cgi.exe" resourceType="Unspecified" />
	</handlers>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="main.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>